@font-face { font-family: SofiaB; src: url('../public/fonts/SofiaProBold.ttf');}
@font-face { font-family: SofiaR; src: url('../public/fonts/SofiaProRegular.ttf');}

h2 {
  font-family: SofiaR;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.profiles h2 {
  color: #fb3958;
}

.map {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 1;
}

.logo {
  margin: 35px;
}

.menu li {
  display: inline;
  padding: 10px;
}

.menu a {
  font-family: SofiaR, sans-serif;
  color: #000;
}

.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 80px;
}

.lee {
  background: url('../public/img/lee.jpg');
  background-position: center;
  background-size: cover;
}

.james {
  background: url('../public/img/james.jpg');
  background-position: center;
  background-size: cover;
}

.henrique {
  background: url('../public/img/henrique.jpg');
  background-position: center;
  background-size: cover;
}

.casey {
  background: url('../public/img/casey.jpg');
  background-position: center;
  background-size: cover;
}
