.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.header-logo {
  padding: 1em 2em;
}

.header-menu {
  margin: 0;
  padding: 1em 2em;
  list-style: none;
}

.header-menu > li {
  display: inline-block;
  margin-right: 1em;
}

.header-menu > li:last-child {
  margin-right: 0;
}
