.profile {
  margin: 20px;
  height: 200px;
  background-color: #ddd;
}

.swiper-slide {
  width: 25vw;
}

.profiles {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  height: 240px;
  background-color: #fff;
  z-index: 2;
}
