.support-map {
  position: relative;
  margin:0 auto;
  width: 90%;
  height: 65vh;
  background-color: whitesmoke;
  z-index: 1;
  overflow: hidden;
  transform-origin: center;
  -webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
     -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.support-map-full {
  position: relative;
  margin:0 auto;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 9999;
  transform-origin: center;

-webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
 -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
   -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
      transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.expand-button {
  position: relative;
  z-index: 99999;
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  margin-top: 50px;
}

.collapse-button {
  position: absolute;
  transform: translateX(-50%);
  bottom: 100px;
}

@media screen and (max-width: 56.250em) {

}

@media screen and (max-width: 50em) {

  .support-map {
    position: relative;
    margin:0 auto;
    width: 100%;
    height: 50vh;
  }

}
